*.o
*.d
.*.sw*
lib.a
test/audio
test/maestro
test/one-off
test/piface
test/stepper
test/talking-skull
test/track
test/wb
utils/digital-counter
utils/maestro
utils/mcp23017
utils/servo
utils/talking-skull-dump
utils/wb
