*.o
*.d
.*.sw*
lib.a
utils/digital-counter
utils/maestro
utils/mcp23017
utils/neopixel-pi
utils/nes-dump
utils/servo
utils/st7735s
utils/talking-skull-dump
utils/talking-skull-prepare
utils/wb
build/
