*.o
*.d
.*.sw*
lib.a
utils/adc
utils/digital-counter
utils/gp-input
utils/life
utils/maestro
utils/mcp23017
utils/neopixel-pi
utils/nes-dump
utils/servo
utils/ssd1306
utils/st7735s
utils/talking-skull-dump
utils/talking-skull-prepare
utils/wb
build/
